@import "mixins.scss";

//Header
@import "header";

//Home Page
@import "home-page";

//About
@import "about";

//Footer
@import "footer";

//GLOBAL//

.wrapper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

body {
  height: 100%;
}

//MAIN//

//MEDIA//
