@import "../sass/mixins.scss";

//GLOBAL//

.wrapper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

body {
  height: 100%;
}

span {
  .light-para {
    @include light-para;
  }
}

//MAIN//

header {
  @include pink-bg;
  width: 100%;
  height: 80px;
  z-index: 100;
  position: fixed;
  top: 0;

  .main-header {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .logo {
      padding: 5px;
      @include dark-title;
      font-size: 24px;
    }
    .nav {
      nav {
        ul {
          display: flex;
          align-items: center;

          li {
            display: block;
            transition-duration: 0.5s;
            padding: 8px;
            align-items: center;
            border-radius: 10px;

            a {
              text-decoration: none;
              @include dark-para;
              font-weight: bold;

              svg {
                height: auto;
                width: 30px;
              }
            }
          }

          li:hover {
            cursor: pointer;
            @include blue-bg;
          }

          li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            @include blue-bg;
            display: none;
            margin-top: 10px;
            padding: 0px 8px 8px 8px;
            border-radius: 10%;
          }

          li:hover > ul,
          li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            @include pink-bg;
          }

          li ul li {
            clear: both;
            width: 100%;

            display: block;

            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.banner {
  width: 100%;
  margin-top: 90px;

  .header-banner {
    width: 100%;
    display: flex;
    justify-content: center;

    .color {
      width: 100%;
      display: flex;
      background-color: #cceaff;
      justify-content: center;
      border-radius: 93% 7% 90% 10% / 22% 79% 21% 78%;
    }

    .hb-img {
      margin: 20px 0 30px 0;
      display: flex;
      width: 90%;
      height: 600px;
      background-image: url(../img/pink-living-room-chair.jpg);
      background-repeat: no-repeat;
      background-position: cover;
      border-radius: 50px;
      align-items: center;
      justify-content: center;

      .text {
        display: flex;
        //background-color: #ffffff63;

        p {
          @include light-title;
          font-size: 50px;
          font-style: italic;
        }
      }
    }
  }
}

.showrooms {
  margin: 10px 0;
  width: 100%;

  .sr-cards {
    display: flex;
    flex-wrap: wrap;

    .sr-card {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      padding: 8px;

      .left {
        border-radius: 100% 0% 100% 0% / 54% 52% 48% 46%;
        background-color: #ffdecc;
      }

      .right {
        border-radius: 0% 100% 0% 100% / 46% 48% 52% 54%;
        background-color: #cceaff;
      }

      .color {
        width: 400px;
        display: flex;
        justify-content: center;

        .sr-img {
          width: 80%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50px;
          }
        }
      }

      .sr-info {
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          width: 80%;
          border-radius: 20px;
          background-color: rgb(238, 232, 232);
          line-height: 2;
          padding: 15px;
          @include dark-para;
        }
      }
    }
  }
}

.home-shop {
  margin: 10px 0;
  width: 100%;

  .hs-cards {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: auto;

    .hs-card {
      width: 33%;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      margin: 10px auto;
      padding: 8px;

      .left {
        border-radius: 100% 0% 100% 0% / 54% 52% 48% 46%;
        background-color: #ffdecc;
      }

      .right {
        border-radius: 0% 100% 0% 100% / 46% 48% 52% 54%;
        background-color: #cceaff;
      }

      .color {
        width: 70%;
        height: 60%;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .hs-img {
          width: 90%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50px;
          }
        }
      }

      .hs-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          width: 80%;
          border-radius: 20px;
          background-color: rgb(238, 232, 232);
          line-height: 2;
          padding: 10px;
          @include dark-para;
          text-align: center;
        }
      }
    }
  }
}

footer {
  width: 100%;

  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #cceaff;
    border-radius: 20px 20px 0 0;
    border-radius: 93% 7% 100% 0% / 22% 100% 0% 100%;

    .map {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      border-radius: 20px 20px 0 0;
      padding: 10px;
      margin-top: 10px;

      img {
        width: 80%;
        height: auto;
        border-radius: 20px;
      }
    }
    .f-info {
      display: flex;
      width: 100%;
      height: 150px;
      background-color: #cceaff;
      padding-top: 10px;
      flex-wrap: wrap;

      .footer-nav {
        display: flex;
        height: 70px;
        width: 100%;
        margin: 0 auto;

        nav {
          margin: 0 auto;

          ul {
            height: 100%;

            display: flex;
            align-items: center;

            li {
              height: 100%;
              display: block;
              transition-duration: 0.5s;
              align-items: center;
              border-radius: 10px;
              margin: 0 8px;

              a {
                text-decoration: none;
                @include dark-para;
                font-weight: bold;
                padding: 5px;

                svg {
                  height: auto;
                  width: 30px;
                }
              }
            }

            li:hover {
              cursor: pointer;
              @include pink-bg;
            }
          }
        }
      }

      .icons {
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;

        p {
          height: 100%;

          a {
            padding: 8px;

            svg {
              height: 30px;
              width: auto;
            }
          }
        }
      }
    }
  }
}

//MEDIA//

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 600px) {
  section {
    width: 100%;

    .header-banner {
      margin: 5px 0;
      background-color: blue;

      .hb-img {
        margin: 0 5px;
        width: 100%;

        .text {
          p {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
}

@media only screen and (max-width: 950px) {
  .showrooms {
    margin: 10px 0;
    width: 100%;

    .sr-cards {
      .sr-card {
        .left {
          margin-right: 10px;
        }

        .right {
          margin-left: 10px;
        }

        .color {
          width: 50%;
        }

        .sr-info {
          width: 50%;
          height: 100%;

          p {
            width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}
