@import "../sass/mixins.scss";

//GLOBAL//

.wrapper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

body {
  height: 100%;
  // @include pink-bg;
}

span {
  .light-para {
    @include light-para;
  }
}

//MAIN//

header {
  @include pink-bg;
  width: 100%;
  height: 80px;
  z-index: 100;
  position: fixed;
  top: 0;

  .main-header {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .logo {
      padding: 5px;
      @include dark-title;
      font-size: 24px;
    }
    .nav {
      nav {
        ul {
          display: flex;
          align-items: center;

          li {
            display: block;
            transition-duration: 0.5s;
            padding: 8px;
            align-items: center;
            border-radius: 10px;

            a {
              text-decoration: none;
              @include dark-para;
              font-weight: bold;

              svg {
                height: auto;
                width: 30px;
              }
            }
          }

          li:hover {
            cursor: pointer;
            @include blue-bg;
          }

          li ul {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: all 0.5s ease;
            @include blue-bg;
            display: none;
            margin-top: 10px;
            padding: 0px 8px 8px 8px;
            border-radius: 10%;
          }

          li:hover > ul,
          li ul:hover {
            visibility: visible;
            opacity: 1;
            display: block;
            @include pink-bg;
          }

          li ul li {
            clear: both;
            width: 100%;

            display: block;

            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.banner {
  width: 100%;
  //background-color: blueviolet;
  margin-top: 90px;

  .header-banner {
    width: 100%;
    display: flex;
    //margin: 30px auto;
    //background-color: blue;
    justify-content: center;

    .color {
      width: 100%;
      display: flex;
      background-color: #cceaff;
      justify-content: center;
      border-radius: 94% 6% 97% 3% / 7% 94% 6% 93%;
    }

    .hb-img {
      margin: 20px 0 30px 0;
      display: flex;
      width: 90%;
      height: 600px;
      background-image: url(../img/pink-living-room-chair.jpg);
      background-repeat: no-repeat;
      background-position: cover;
      border-radius: 50px;
      align-items: center;
      justify-content: center;

      .text {
        display: flex;
        //background-color: #ffffff63;

        p {
          @include light-title;
          font-size: 50px;
          font-style: italic;
        }
      }
    }
  }
}

.showrooms {
  margin: 10px 0;
  width: 100%;

  .sr-cards {
    //background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;

    .sr-card {
      width: 100%;
      height: 400px;
      ///background-color: green;
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      padding: 8px;

      .left {
        border-radius: 100% 0% 100% 0% / 54% 52% 48% 46%;
        background-color: #ffdecc;
      }

      .right {
        border-radius: 0% 100% 0% 100% / 46% 48% 52% 54%;
        background-color: #cceaff;
      }

      .color {
        width: 35%;
        display: flex;
        justify-content: center;

        .sr-img {
          width: 80%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50px;
          }
        }
      }

      .sr-info {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: pink;
        p {
          width: 80%;
          border-radius: 20px;
          background-color: rgb(238, 232, 232);
          line-height: 2;
          padding: 15px;
          @include dark-para;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
}

@media only screen and (max-width: 600px) {
  section {
    width: 100%;

    .header-banner {
      margin: 5px 0;
      background-color: blue;

      .hb-img {
        margin: 0 5px;
        width: 100%;

        .text {
          p {
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}
